<h1><%= @course.year %></h1>
<ul>
  <% @course_modules.each do |course_module| %>
    <li><%=
      link_to(
        course_module.title,
        course_module_path(course_module),
        method: :get
      )
    %></li>
  <% end %>
</ul>
