<% if instructor_signed_in? %>
  <li>
    <%= link_to('Logout', destroy_instructor_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
    <%= link_to('Login', new_instructor_session_path)  %>  
  </li>
<% end %>
