<p id="notice"><%= notice %></p>

<h1>Course Modules</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_modules.each do |course_module| %>
      <tr>
        <td><%= course_module.title %></td>
        <td><%= course_module.description %></td>
        <td><%= link_to 'Show', course_module %></td>
      </tr>
    <% end %>
  </tbody>
</table>
