<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course_module.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course_module.description %>
</p>

<%= link_to 'Back', course_path(@course_module.course) %>
